node_modules/
artifacts/
*.log
.DS_Store

.local/
dist/
android/.gradle/
android/local.properties
android/**/build/
*.keystore
*.jks
.env*
!*.example


*.apk
*.aab
*.pem
*.key
android/app/google-services.json


**/.obsidian/
**/.idea/

